@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

header nav {
  background: #fff;
  height: 8vh;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

header nav h1 {
  font-size: 1.8rem;
  color: #000;
  margin-left: 50px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 100px;
}

header nav ul li {
  padding: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.landing .text-block {
  height: 500px;
  width: 600px;
  margin-left: 50px;
  padding-top: 150px;
}

.landing .text-block h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.landing .text-block h5 {
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #838383;
}

.landing .text-block input {
  height: 50px;
  width: 380px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
}

.landing .text-block button {
  display: block;
  margin: 15px 0;
  height: 50px;
  width: 180px;
  background-color: #7e53fd;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
}

.landing .shapes {
  position: absolute;
  height: 700px;
  width: 700px;
  top: -30px;
  left: 50%;
}

.landing .shapes .polygon {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(231.07deg, #7D52FC 30.24%, #4ACAF9 84.45%);
  -webkit-box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(14.45deg);
          transform: rotate(14.45deg);
  -webkit-clip-path: polygon(51% 8%, 0% 100%, 100% 100%);
          clip-path: polygon(51% 8%, 0% 100%, 100% 100%);
  z-index: 4;
}

.landing .shapes .circle1 {
  position: absolute;
  top: 170px;
  left: 100px;
  width: 240px;
  height: 240px;
  background: linear-gradient(52.27deg, #2E585E 14.81%, #F9E84A 86.16%);
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  z-index: 1;
}

.landing .shapes .circle2 {
  position: absolute;
  top: 400px;
  left: 400px;
  width: 240px;
  height: 240px;
  background: linear-gradient(52.27deg, #2E585E 14.81%, #00F0FF 86.16%);
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  z-index: 1;
}

.landing .shapes .video {
  position: absolute;
  top: 230px;
  width: 575px;
  height: 310px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 145, 44, 0.87)), to(rgba(255, 72, 66, 0.25))), url("vid-img.png");
  background: linear-gradient(90deg, rgba(255, 145, 44, 0.87) 0%, rgba(255, 72, 66, 0.25) 100%), url("vid-img.png");
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 5;
}

.landing .shapes .video img {
  height: 100%;
  width: 100%;
}

.landing .sponsers {
  width: 80%;
  margin-top: 200px;
}

.landing .sponsers h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #7a7979;
}

.landing .sponsers img {
  height: 90px;
  width: 150px;
}

.work {
  height: 100vh;
}

.work .projects .rectangle {
  margin: 300px 0 0 50px;
  width: 130%;
  height: 270px;
  background: -webkit-gradient(linear, left top, left bottom, from(#25293E), to(#38394F));
  background: linear-gradient(180deg, #25293E 0%, #38394F 100%);
  border-radius: 10px;
}

.work .projects .block1 {
  position: absolute;
  left: 200px;
  margin-top: -60px;
}

.work .projects .block1 img {
  height: 410px;
  width: 40%;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work .projects .block2 {
  position: absolute;
  left: 720px;
  margin-top: -60px;
}

.work .projects .block2 img {
  height: 410px;
  width: 70%;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work .projects .block3 {
  position: absolute;
  left: 1250px;
  margin-top: -60px;
}

.work .projects .block3 img {
  height: 410px;
  width: 800px;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.work .projects .button-box {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  padding: 75px 0;
}

.work .projects .button-box button:nth-child(2) {
  margin-left: 1rem;
}

.work .projects .button-box button {
  width: 173px;
  height: 51px;
  border: 1px solid #7e53fd;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #7e53fd;
}

#meet-team .container .team-block {
  height: 730px;
  margin-top: 2rem;
  position: relative !important;
}

#meet-team .container .team-block .team_left img {
  position: absolute;
  height: 120px;
}

#meet-team .container .team-block .team_left .member-3 {
  left: 80%;
  border: 5px solid #ff9f4e;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 42px 1px #ff9f4e;
          box-shadow: 0px 12px 42px 1px #ff9f4e;
}

#meet-team .container .team-block .team_left .member-8 {
  top: 45%;
  left: 75%;
  border: 5px solid #a82382;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 42px 1px #a82382;
          box-shadow: 0px 12px 42px 1px #a82382;
}

#meet-team .container .team-block .team_left .member-9 {
  top: 50%;
  left: 350px;
  border: 5px solid #609cfb;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 42px 1px #609cfb;
          box-shadow: 0px 12px 42px 1px #609cfb;
}

#meet-team .container .team_middle {
  text-align: center;
  position: relative;
}

#meet-team .container .team_middle img {
  height: 90px;
}

#meet-team .container .team_middle .member-4 {
  margin-bottom: 3rem;
  top: 15%;
  border: 5px solid #acf13d;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 42px 1px #acf13d;
          box-shadow: 0px 12px 42px 1px #acf13d;
}

#meet-team .container .team_middle h4 {
  white-space: nowrap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.255em;
  color: #38394f;
}

#meet-team .team_right {
  height: 730px;
}

#meet-team .team_right img {
  position: absolute;
  height: 100px;
}

#meet-team .team_right .member-5 {
  top: 55%;
  right: 40%;
  border: 5px solid #1ae2e9;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 42px 1px #1ae2e9;
          box-shadow: 0px 12px 42px 1px #1ae2e9;
}

#meet-team .team_right .member-6 {
  top: 10%;
  left: 20%;
  border: 5px solid #d220e2;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 42px 1px #d220e2;
          box-shadow: 0px 12px 42px 1px #d220e2;
}

#meet-team .team_right .member-7 {
  top: 50%;
  left: -90%;
  border: 5px solid #a80a1f;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 22px 1px #a80a1f;
          box-shadow: 0px 12px 22px 1px #a80a1f;
}

#custom-solutions {
  margin-top: 2rem;
}

#custom-solutions .custom__text h2 {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #38394f;
}

#custom-solutions .no-gutters {
  position: relative;
  z-index: 3;
  top: 5rem;
}

#custom-solutions .theme__left__steps {
  margin-left: 50px;
}

#custom-solutions .theme__left__steps li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 250%;
  cursor: pointer;
}

#custom-solutions .theme__left__steps span:nth-child(1) {
  color: #38af43;
}

#custom-solutions .theme__left__steps li:nth-child(1) {
  color: #38394f;
}

#custom-solutions .theme__left__steps li:nth-child(n + 2) {
  color: #7c828d;
}

#custom-solutions .install__theme {
  border-top: 4px solid #38af43;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100px;
  margin-left: -100px;
}

#custom-solutions .install__theme h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 250%;
  /* identical to box height, or 45px */
  text-align: center;
}

#custom-solutions .install__theme p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  /* or 22px */
  line-height: 1.2;
  text-align: start;
  color: #38394f;
  margin: 0;
}

#custom-solutions .theme__middle {
  margin: 0;
  padding: 0;
}

#custom-solutions .theme__middle .gray-rectangle {
  width: 506px;
  height: 37px;
  text-align: center;
  background: #e5e5e5;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

#custom-solutions .theme__middle .theme__middle__content {
  width: 510px;
  height: 435px;
}

#custom-solutions .theme__middle .theme__middle__content .theme__middle__content__rectangle img {
  height: 435px;
  width: 250px;
}

#footer .footer__bg {
  position: relative;
  z-index: 1;
  background: #38394f;
  height: 480px;
}

#footer .footer__bg__content {
  text-align: center;
  margin-top: 10rem;
  position: relative;
}

#footer .footer__bg__content h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;
  color: white;
}

#footer .footer__bg__content button {
  z-index: 2;
  width: 173px;
  height: 51px;
  border: none;
  background: #7e53fd;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  /* identical to box height */
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */